.my-bg {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #F3F6F9;
}

.logo-body {
    width: 100%;
    height: 100vh;
    
}